/* Estilos básicos para o acordeon */
.accordion {
    margin: 20px 0;
}

.accordion-item {
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.accordion-title {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: #ddd;
    border-radius: 5px;
}

.accordion-content {
    padding: 10px;
    display: none;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
}

/* Estilos básicos para a página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

footer p {
    text-align: center;
    font-size: 1.2em;
    color: #777;
}
